<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://doanhaiduy2-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5110.site4now.net:8172/msdeploy.axd?site=doanhaiduy2-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>doanhaiduy2-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>doanhaiduy2-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Project_63130260Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5110.site4now.net;Initial Catalog=db_aa1399_doanhaiduy2;User ID=db_aa1399_doanhaiduy2_admin;Password=haiduy10" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DATA_63130260.Entity.Project_63130260Entities, DATA_63130260" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Project_63130260Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Entity.Model_63130260.csdl|res://*/Entity.Model_63130260.ssdl|res://*/Entity.Model_63130260.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5110.site4now.net;Initial Catalog=db_aa1399_doanhaiduy2;User ID=db_aa1399_doanhaiduy2_admin;Password=haiduy10"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>